<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <span translate>Back</span>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view >
  <ion-nav-title translate='tab1_title'></ion-nav-title>
  <ion-content class="padding">

    <div class="row responsive-sm responsive-md responsive-lg">
      <div class="col">
        <img style="width: 100%; height: auto;" ng-src="{{jeep.type}}" >
        <h2 translate="{{jeep.name}}">{{jeep.name | translate}}</h2>
        <h3 translate="{{jeep.color}}"></h3><br/>
        <h4 >{{'route_desc' | translate}}<br/>{{jeep.route | translate}}</h4><br/>
        <a class="button button-large button-positive button-block icon icon-right ion-chevron-right" href="#/tab/jeeps/{{jeep._id}}/maps">{{'View Map' | translate}}</a>
      </div>
    </div>


  </ion-content>
</ion-view>
