<ion-view cache-view="false">
  <ion-nav-title translate='tab2_title'></ion-nav-title>
  <ion-content>
    <div class="backDiv">
      <div class="strechDiv">
        <form name="myForm" novalidate>
        <div class="item item-divider divider-title text-center">
          <h2 translate>From:</h2>
        </div>
        <div class="item item-button-right" ng-click="openModal('from',$event)">
          <label for="{{text_point_A}}"><span>{{text_point_A}}</span></label>
          <input type="hidden" id="point_a" value="{{from}}">
          <button class="button button-positive">
            <i class="icon ion-chevron-down"></i>
          </button>
        </div>
        <div class="item item-divider divider-title text-center">
          <h2 translate>To:</h2>
        </div>
        <div class="item item-button-right" ng-click="openModal('to')">
          <label for="{{text_point_B}}"><span>{{text_point_B}}</span></label>
          <input type="hidden" id="point_b" value="{{to}}">
          <button class="button button-positive">
            <i class="icon ion-chevron-down"></i>
          </button>
        </div>
        <button class="button button-full button-positive" ng-click="submit()">
          <b translate='tab2_title'></b>
        </button>
      </form>
      </div>
    </div>
  </ion-content>
</ion-view>

  <script id="custom_textbox.html" type="text/ng-template">
  <ion-view class="fancy-select-items modal">
    <ion-header-bar class="bar-positive">
      <button ng-click="closeModal()"  class="button button-positive button-icon icon ion-ios-arrow-back"> <span translate>Back</span></button>
      <h1 class="title" translate>{{headerText}}</h1>

    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="modal.search" placeholder="{{ 'Search' | translate }}">
      </label>
    </ion-header-bar>
    <ion-content>
      <div>{{a}}
        <label ng-repeat="item in items | filter:modal.search " class="item item-text-wrap" ng-click="validateSingle(item,ctr)">
          {{item}}
        </label>
      </div>
    </ion-content>
  </ion-view>
  </script>
