<ion-view view-title="使い方(How to Use)">
  <ion-content>
    <div class="row">
      <div class="col">
        <h3>How to ride Jeepneys</h3>
        <p>The picture below show the Jeepney route name (where the Jeepney will pass back and forth) and the color code. Typically, the route name is placed on the Jeepney's windshield and on the sides of the vehicle.</p>
        <img style="width: 100%; height: auto;" ng-src="img/jeeps/marisol_pampang.jpg" >
        <h3>Steps on riding a Jeepney:</h3>
      </div>

    </div>




  </ion-content>
</ion-view>
