<ion-view view-title="{{'tab3_title' | translate}}">
  <ion-content>
    <div class="row">
      <div class="col">
        <h3 translate='HTR_Jeep'></h3>
        <p translate='HTR_Jeep_P1'></p>
        <img style="width: 100%; height: auto;" ng-src="img/jeeps/marisol_pampang.jpg" >
        <h3 translate='SR_Jeep'></h3>
          <p translate='SR_Jeep_P1'></p>
          <p translate='SR_Jeep_P2'></p>
          <p translate='SR_Jeep_P3'></p>
          <p translate='SR_Jeep_P4'></p>
        <h3 translate='Note:'></h3>
        <p translate="Note_P1"></p>
      </div>

    </div>




  </ion-content>
</ion-view>
